# Módulo 5 - Técnicas de programação II 

## Aula 6 - Streamlit


Streamlit transforma scripts de dados em aplicativos web compartilháveis, em minutos.

Tudo puramente em Python - sem necessidade alguma de experiência de front-end.

Página oficial: https://streamlit.io/

Documentação: https://docs.streamlit.io/ 

Para instalar: ```!pip install streamlit```

**Atenção:** É necessário ter python >= 3.7

Para rodar um script: 
```python -m streamlit your_script.py``` ou ```streamlit run your_script.py```

**Teste:** tente rodar ```streamlit hello``` no seu anaconda prompt ou ```python -m streamlit hello``` no seu cmd

**Streamlit Cheat Sheet:** https://docs.streamlit.io/library/cheatsheet


### Dataflow
O Streamlit trabalha exatamente como nós escrevemos os códigos em Python: sempre que alguma coisa for atualizada, ele irá rodar novamente todo o script, de cima a baixo. Isso acontecerá sempre que:
- O script for mudado;
- Um usuário interagir com o dashboard (incluindo um campo texto, clicando em um botão etc).

Sempre que você adicionar um callback (on_click ou on_change), ele irá rodar novamente o script, antes do resto do código.

In [5]:
import pandas as pd
import numpy as np

map_data = pd.DataFrame(
    np.random.randn(1000, 2) / [50, 50] + [37.76, -122.4],
    columns=['lat', 'lon'])

In [6]:
map_data

           lat         lon
0    37.796638 -122.436219
1    37.781357 -122.409696
2    37.767498 -122.397561
3    37.735947 -122.402376
4    37.755788 -122.437387
..         ...         ...
995  37.791853 -122.373918
996  37.731616 -122.452042
997  37.775201 -122.401754
998  37.751057 -122.382585
999  37.709565 -122.377585

[1000 rows x 2 columns]